@media screen and (max-width:568px){
    .Summarize-page{
        width: 100%;
    }
    .Summarize-bgText{
        height: 622px;
        margin-bottom: 30px;
    }
    .Summarize-bgTextTwo{
        margin-bottom: 30px;
    }
    .Summarize-page .ant-row-flex{  
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}